.header {
    background: url("../assets/header__image__bg.png") center no-repeat;
    background-size: cover;
    height: 667px;
}

.header__title {
    padding: 4rem;
}

.header__content {
    text-align: center;
}

.header__content__text {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2.75rem;
    margin: 5rem auto 2rem;
    font-family: "Anton", sans-serif;
    max-width: 32ch;
}

.header__content__searchbar__box {
    margin-inline: auto;
    max-width: 954px;
    border-radius: 11px;
}

.header__content__searchbar__box,
.header__content__searchbar__box__searchbar {
    background-color: var(--bg-color-white);
}

.header__content__searchbar__box__searchbar {
    outline: none;
    border: none;
    height: 72px;
    font-size: var(--fz18px);
    width: 92%;
    color: var(--tertiary-color);
    padding-inline: 1.8rem;
}

.header__content__searchbar__box__btn__icon {
    color: #fff;
}

.header__content__searchbar__box__btn {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    font-size: var(--fz18px);
    padding: 0.8rem 1rem;
}