.menu {
    margin-top: 1.5rem;
}

.menu-top {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}

.menu__selects {
    display: flex;
    gap: 5rem;
    position: absolute;
    z-index: 1;
}

.menu__selects__select {
    font-size: var(--fz16px);
    border: none;
    border-radius: 10px;
    background-color: var(--bg-color-white);
    width: 195px;
    font-weight: 500;
    color: var(--secondary-color);
    max-height: 315px;
    height: 100%;
    overflow-y: hidden;
}

.menu__selects__select__title,
.menu__selects__select__items__item {
    padding-inline: 1rem;
}

.menu__selects__select__title {
    font-size: var(--fz16px);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.menu__selects__select[data-isOpen=true] .menu__selects__select__input {
    display: flex;
}

.menu__selects__select[data-isOpen=true] .menu__selects__select__title__icon {
    transform: rotate(180deg);
    color: var(--secondary-color);
}

.menu__selects__select[data-isOpen=true] .menu__selects__select__items {
    display: flex;
}

.menu__selects__select__input {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color-white);
    width: 85%;
    margin: 1rem auto 1.5rem;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
}

.menu__selects__select__selectItems {
    display: none;
    margin-bottom: 1.5rem;
    max-height: 80px;
    height: 100%;
    overflow-y: scroll;
}

.menu__selects__select__selectItems .menu__selects__select__items__item {
    background-color: var(--primary-color);
    padding: 0.55rem 1rem;
    margin-bottom: 0.3rem;
}

.menu__selects__select__items {
    display: none;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    color: var(--secondary-color);
    max-height: 185px;
}

.menu__selects__select__items__item {
    font-size: 0.875rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    font-weight: 400;
}

.menu__selects__select__input {
    display: none;
}

.menu__selects__select__input__search {
    width: 70%;
    border: none;
    outline: none;
    height: 36px;
}

.menu__selects__select__input__search__clearIcon {
    cursor: pointer;
    display: none;
}

.menu__selects__select__input__search__clearIcon[data-isClicked=true] {
    display: block;
}

.menu__selects__select__input__search__icon {
    height: 15px;
    width: 15px;
}

.menu__recipes {
    color: var(--secondary-color);
    font-family: "Anton", sans-serif;
    font-size: 1.31rem;
    margin-left: auto;
}

.menu__selectedItems {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2.2rem;
    cursor: pointer;
}

.menu__selectedItems__item {
    background-color: var(--primary-color);
    padding: 17px 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.menu__selectedItems__item:hover, .menu__selectedItems__item:hover .menu__selectedItems__icon {
    font-weight: 700;
}

.menu__selectedItems__item:hover .menu__selectedItems__icon {
    color: var(--primary-color);
    background-color: #000;
    border-radius: 100%;
    padding: .1rem .25rem .1rem .3rem;
}