.recipes {
    margin-top: 4rem;
    display: flex;
    gap: 5rem 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.recipes__article {
    max-width: 380px;
    background-color: var(--bg-color-white);
    border-radius: 21px;
    height: 731px;
    position: relative;
    margin-inline: auto;
}

.recipes__article__img {
    width: 100%;
    height: 253px;
    border-radius: 21px 21px 0 0;
}

.recipes__article__time {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px 15px;
    border-radius: 14px;
    font-size: .75rem;
    text-align: center;
    position: absolute;
    top: 2%;
    right: 6%;
}

.recipes__article__content {
    padding: 2.5rem 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.recipes__article__content__name {
    font-family: "Anton", sans-serif;
    font-size: var(--fz18px);
    font-weight: 400;
}

.recipes__article__content__description,
.recipes__article__content__ingredients__box__ingredient__name {
    font-size: .875rem;
    color: var(--secondary-color);
}

.recipes__article__content__description {
    overflow: scroll;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.recipes__article__content__ingredients {
    display: flex;
    flex-direction: column;
}

.recipes__article__content__ingredients__box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0;
}

.recipes__article__content__ingredients__box__ingredient {
    width: 50%;
}

.recipes__article__content__ingredients__box__ingredient__details {
    display: flex;
    font-size: .875rem;
    color: var(--tertiary-color);
}