@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');
@import "header.css";
@import "menu.css";

:root {
    --primary-color: #FFD15B;
    --secondary-color: #1B1B1B;
    --tertiary-color: #7A7A7A;
    --bg-color: #EDEDED;

    --fz16px: 1.25rem
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    max-width: 1440px;
    background-color: var(--bg-color);
    margin-inline: auto;
}