@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap');
@import "recipeArticle.css";
@import "header.css";
@import "menu.css";

:root {
    --primary-color: #FFD15B;
    --secondary-color: #1B1B1B;
    --tertiary-color: #7A7A7A;
    --bg-color: #EDEDED;

    --fz16px: 1rem;
    --fz18px: 1.125rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: var(--bg-color);
    margin-inline: auto;
}

img {
    object-fit: cover;
}

.title {
    color: var(--tertiary-color);
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: .6rem;
}